<head>
    <link rel="stylesheet" href="/css/list_style.css">
</head>

<div class="audivcon">
    <h1 class="aligncenter audivcon">Check Out Our Listings</h1>
    <div class="three-grids">
        {{#each rooms}} 
        <figure>
            {{#if RoomPic}}
                <a href="#"><img src="/RoomPics/{{RoomPic}}" class="headshot"></a>
            {{else}}
                <a href="#"><img src="/RoomPics/default.jpg" class="headshot"></a>
            {{/if}}
            <figcaption>{{location}} | {{title}}</figcaption>
            <figcaption class="smallerfont">${{price}} CAD/night</figcaption>
        </figure>
        {{else}}
            <h3 class="aligncenter">Sorry, something went wrong!</h3>
        {{/each}}
        {{!-- <figure>
            <a href="#"><img src="/img/listing/1.jpg" alt="1pic" class="headshot"></a>
            <figcaption>Entire condominium | 1 bed<br>KING WEST EXECUTIVE SUITE</figcaption>
            <figcaption class="smallerfont">$100 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/listing/2.jpg" alt="2pic" class="headshot"></a>
            <figcaption>Entire house | 2 beds<br>STYLISH 1870S HOME</figcaption>
            <figcaption class="smallerfont">$356 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/listing/3.jpg" alt="3pic" class="headshot"></a>
            <figcaption>Entire loft | 3 beds<br>SPECTACULAR MODERN/BRIGHT</figcaption>
            <figcaption class="smallerfont">$149 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/listing/4.jpg" alt="4pic" class="headshot"></a>
            <figcaption>Entire apertment | 2 beds<br>JAPAN INSPIRED STUDIO APARTMENT</figcaption>
            <figcaption class="smallerfont">$64 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/listing/5.jpg" alt="5pic" class="headshot"></a>
            <figcaption>Entire apertment | 3 beds<br>STUDIO SYMMETRIC</figcaption>
            <figcaption class="smallerfont">$87 CAD/night</figcaption>
        </figure>
        <figure>
            <a href="#"><img src="/img/listing/6.jpg" alt="6pic" class="headshot"></a>
            <figcaption>Private room | 2 beds<br>STYLISH DOWNTOWN DOUBLE ROOM</figcaption>
            <figcaption class="smallerfont">$59 CAD/night</figcaption>
        </figure> --}}
    </div>
    <br><br><br>
</div>